@model VLR.Models.ViewModels.FormViewModels.VMFormTabuleiro

<br />
<button type="button" class="btn btn-success" id="btn_proximo">Ir Proximo</button>

<label>
    <input type="checkbox" id="switchAutoClick" @(ViewBag.autoClick ? "checked='checked'" : "")> Ativar auto clique
</label>
@if (Model != null)
{
    <span id="spn_tabuleiro" name="spn_tabuleiro">
        @Html.Partial("_Tabuleiro", Model.Tabuleiro)
    </span>

    foreach (var cadaMensagem in Model.mensagens)
    {
        <br />
        <div id="pnlErro" name="pnlErro" class="panel panel-info" style="width:840px; text-align:center">
            <div class="panel-heading"><h3>Último Movimento Realizado: <strong>@cadaMensagem</strong></h3></div>
        </div>
    }
}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>  <!-- Garanta que você tenha jQuery carregado -->
<script type="text/javascript">
    $(document).ready(function() {
        var btnProximo = $('#btn_proximo');
        var switchAutoClick = $('#switchAutoClick');

        btnProximo.click(function() {
            var urlDestino = '@Url.Action("Proximo", new { Area = "", pecas = Model.pecas })';

            if(switchAutoClick.is(':checked')) {
                urlDestino += '&autoClick=true';
            }

            window.location.href = urlDestino;
        });

        if(switchAutoClick.is(':checked')) {
            setTimeout(function() {
                btnProximo.click();
            }, 3000);
        }
    });
</script>