@model VLR.Models.ViewModels.VMTabuleiro

<span id="pnlErro" name="pnlErro" hidden="hidden">
    <label id="lblMsgErro" name="lblMsgErro" />
</span>
<br />

<input type="button" value="Próximo Jogador" class="btn btn-success" onclick="proximoJogador();" />
<br />

<span id="spn_tabuleiro" name="spn_tabuleiro">
    @Html.Partial("_Tabuleiro", Model)
</span>

<span style="display:none">
    @Html.Hidden("tabuleiro", Model)
</span>

<script type="text/javascript">
    function proximoJogador()
    {
        var valorSelecionado = document.getElementById("tabuleiro");
        valorSelecionado = document.getElementById("tabuleiro");
                $.ajax(
                    {
                        type: 'POST',
                        url: '@Url.Action("ProximoJogador", "Home", new { Area = "" })',
                        data: tabuleiro = valorSelecionado,
                        beforeSend: function () {
                            //Normalmente insere o loading caso de operação mais lenta
                            $('#pnlErro').show();
                            $('#lblMsgErro').text("Buscando");
                        },
                        success: function (data) {
                            $('#spn_tabuleiro').html("");
                            $('#spn_tabuleiro').html(data);
                        },
                        error: function (response)
                        {
                            $('#pnlErro').show();
                            $('#lblMsgErro').text(response.statusText);
                        },
                        complete: function () {
                            //Funciona como Finally, encerra o loading
                        }
                    });

    }
</script>
